.home
{
    height: 100px;
    width: 1490px;
    background-color: gray;
}
.small
{
    height: 60px;
    width: 1490px;
    background-color:#0B0B45;
}
.Main{
  display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;

}
.outerbox{
    margin-left: 10px;
    margin-bottom: 15px;
    width: 251px;
    height: 500.45px;
    position: relative;
    border: 1px;
    border-style: double;
    
}
section{
    width: 120px;
    height: 26px;
    font-size: 15px;
    padding-top: 5px;
    color: white;
    background-color: #0B0B45;
    cursor: pointer;
}
span{
    color: orange;
}
img{
    width: 80%;
    padding: 5px 15px 1px 15px;  
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
}
.text{
    margin: 5px;
    font-size: large;
    font-style: normal;
}
.text:hover
{
    cursor: pointer;
    color: orange;
}
.price{
font-size: larger;
color: brown;
padding-top: 5px;
}
.price a{
    font-size: small;
    color: black;
    
}
.free{
    color: black;
    font-size: medium;
    padding-top: 5px;
}